
      <div class="footer">
        <div class="container">
          <h1><code>Add New Quote</code></h1>
        <form (ngSubmit)='submitQuote()' #quotesform='ngForm'>
        <label for="quote">Quote</label>
        <input type="text" required class="form-control" id="quote" rows="30" required>
        <label for="author">Author</label>
        <input type="text" required class="form-control" id="name" required>  
        <label for="date" id="date" required>Upload date</label>
        <input type="date" required class="form-control" id="uploaddate" required>
        <button type="submit" class="btn btn-light btn-md">Submit</button>
        </form>
        </div>
      </div>

