<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Quotes
  </h1>  
</div>
<div class="card-group">
    <div class="card" *ngFor = 'let quote of quotes'>
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2813%29.jpg" alt="Card image cap">
  <div class = "card-header">{{quote.name}}   
    </div>
  <div class="card-body">{{quote.quote}}
  </div>  

    <div class="card-footer">{{quote.upload}}</div>
  </div>
</div>
  <app-quote></app-quote>
 

